[Desktop Entry]
Version=1.0
Name=Ghostship
Comment=An unofficial port of Super Mario 64
Exec=ghostship
Terminal=false
Icon=ghostship
Type=Application
Categories=Game;Retro;