[Desktop Entry]
Version=1.0
Name=StarshipSF64
Comment=An unofficial port of Star Fox 64
Exec=starshipsf64
Terminal=false
Icon=starshipsf64
Type=Application
Categories=Game;Retro;