[Desktop Entry]
Version=1.0
Name=ShipwrightSOH
Comment=An unofficial port of The Legend of Zelda: Ocarina of Time
Exec=ShipwrightSOH
Terminal=false
Icon=shipwright
Type=Application
Categories=Game;Retro;